.Container {
    border-left: #046863 solid 3px;
    border-right: #046863 solid 3px;
    width: 30rem;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;
    overflow: auto;
}

p {
    text-align: initial;
}

h5 {
    text-align: left;
}

h6 {
    display: inline-block;
}

ul {
    list-style-type: none;
}

.event {
    border-bottom: 2px black solid;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.eventSpan {
    font-weight: 500;
}