.Page1 {
  display: flex;
  justify-content: center;
  align-content: center;
}
*{
  font-family: cursive;
}

/* @media (min-width: 500px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
} */