.landingPage {
 padding-left: 20px;
 padding-right: 20px;
 background-color: lavender;
}

.carousel {
    width: 78%;
    height: 50%;
    left: 9%;
}
.title {
    position: relative;
    display: flex;
    justify-content: center;
}

.allevents{
    margin-right: auto;
    max-width: 1280px;
    margin-left: auto;
    margin-top: 90px
}

.eventslist{
    overflow-y: auto;
    max-height: 800px;

}

.eventsandlogo{
    position: relative;
    display: flex;
    justify-content: center;
} 

.LogoAndButton {
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: auto;
    max-width: 1280px;
    margin-left: auto;
    margin-top: 90px;
}

.getstarted {
    font-size: 18px;
    height: 65px;
    width: 250px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 0px 2px rgba (0, 0, 0, 0.3);
    background: rgb(141, 217, 252);
    cursor: pointer;
    position: absolute;
    color: white;
    border-radius: 5px;
    text-align: center;
}