.landingPage {
 padding-left: 20px;
 padding-right: 20px;;
}

.carousel {
    width: 78%;
    height: 50%;
    left: 9%;
}
.title {
    position: relative;
    display: flex;
    justify-content: center;
}

.allevents{
    position: absolute;
    left: 1%;
    overflow: auto;
}

.LogoAndButton {
    position: relative;
    display: flex;
    justify-content: center;
    top: 250px;
}

.getstarted {
    font-size: 18px;
    height: 65px;
    width: 250px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 0px 2px rgba (0, 0, 0, 0.3);
    background: rgb(141, 217, 252);
    cursor: pointer;
    position: absolute;
    color: white;
    border-radius: 5px;
    text-align: center;
}