.Page {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.Activity {
    border: 2px solid white;
    width: 350px;
    min-width: 200px;
    min-height: 300px;
    margin: 0;
}

.Pic {
    margin-top: 5px;
    border: 2px solid rgb(251, 220, 161);
    width: 80px;
    height: 100px;
}

.profImg {
    flex-shrink: 0;
    margin-left: 10%;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid rgb(251, 220, 161);
    width: 9rem;
    height: 10rem;
}

.section1 {
    margin-bottom: 2rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3aa1a1;
}

.MyFeedHeder {
    display: inline;
}



@media (max-width: 500px) {
    .section1 {
        height: fit-content;
        flex-wrap: wrap;
    }
}

.section2 {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

@media (max-width: 500px) {
    .section2 {
        height: fit-content;
        flex-wrap: wrap;
    }
}

.volunteerButton {
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}