* {
    text-align: center;
}

.Page {
    display: flex;
    width: 100%;
    flex-direction: column;
}


.Activity {
    border: 2px solid green;
    width: 350px;
    min-width: 200px;
    min-height: 300px;
    margin: 0;
}

.Pic {
    margin-top: 5px;
    border: 2px solid rgb(251, 220, 161);
    width: 80px;
    height: 100px;
}

.section1 {
    margin-bottom: 2rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: teal;
}

.MyFeedHeder {
    display: inline;
}

@media (max-width: 500px) {
    .section1 {
        height: fit-content;
        flex-wrap: wrap;
    }
}

.section2 {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 500px){
    .section2{
        height: fit-content;
        flex-wrap: wrap;
    }
}

.Buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/* .aLink{
    text-align: center;
    display: inline-block; 
    border-radius: 3px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    width: 10rem;
    background: transparent;
    color: white;
    border: 2px solid white;
    text-decoration: none;
} */